.Txt{  //scss -- BEM命名规范
    width: 100%;
    font-size: 20px;
    background: #f2f2f2;
    margin-bottom: 40px;

    &-left{
        width: 15%;
        height:600px;
        background-color: white;
        float: left;
        margin-right: 5%;
        padding:0 1%;
        &__item1{
            height: 66px;
            width: 100%;
            line-height: 66px;
            text-align: center;
            color: red;
            font-weight: bold;
            font-size: 32px;
            border-bottom: 1px solid #666;
        }
        &__pic{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            &--img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-size: cover;
                margin:23px 0;
                // background:url(../../../../pic/1.png) no-repeat
            }
        }

        &__item2{
            width: 100%;
            line-height: 20px;
            text-align: center;
            padding-bottom: 23px;
            border-bottom: 1px solid #d3d1d1;
            overflow: hidden;
        }
        &__item3{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding:70px 0;
            border-bottom: 1px solid #d3d1d1;
            &--img{
                width: 45px;
                height: 45px;
                margin-right: 10px;
            }
            &--text{
                text-align: center;
            }

        }

    }
    &-bfc{
        overflow: hidden;
    }
    &-right{
        width: 100%;
        height: 600px;
    }


}