.InfoManage{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    background-color: #fff;
    &-btn{
        width: 60px;
        height: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &-wrap{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        &__title{
            font-weight: bolder;
            font-size: 50px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            color:#000;
            margin-top: 20px;
            margin-bottom: 35px;
        }
        &__iconDiv{
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        &__icon{
            width: 100px;
            height: 100px;
        }
        &__box{
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
        &__div{
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text{
            font-size: 25px;
            text-align: center;
            padding: 0 10px;
            color:#000;
            width: 120px;
        }
        &__textOld{
            font-size: 25px;
            text-align: center;
            padding: 0 10px;
            color:#333;
            max-width: 65%;
            overflow: hidden;
            line-height: 50px;
        }
        &__lr{
            margin-left: 7%;
        }
        &__input{
            width: 60%;
            position: relative;
            right:20%
        }
        &__notice{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
        }
        &__textarea{
            width: 80%;
            height: 80px;
            overflow-y: auto;
            box-sizing: border-box;
            padding: 10px;
        }
        &__bottom{
            margin-top: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            &--btn{
                margin-left: 3%;
                margin-right: 3%;
                height: 100%;
                width: 80px;

            }
        }
    }


    &-ul{
        width: 100%;
        height: 50px;
        margin-top: 25px;
        display: flex;
        position: relative;
      
        &__search{
            &-search{
                height: 50px;
                display: flex;
                justify-content: flex-start;
                box-sizing: border-box;
                align-items: center;
                padding-left: 2%;
            }
        }
        &__li{
            list-style: none;
            width: 9%;
            margin-right: 4%;
            &--link{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: #0099ff;
                color: #fff;
                border-radius: 8px;
                font-size: 17px;
            }
            &--active{
                background-color: #ff0033;
                color:#fff
            }
           
        }
    }
}