.travelReq{
    .ant-radio-wrapper{font-size: 23px;}
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 0 3%;
    &-wrap{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        &__title{
            font-weight: bolder;
            font-size: 50px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            color:#000;
            margin-top: 20px;
            margin-bottom: 35px;
        }
        &__box{
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
        &__div{
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__text{
            font-size: 25px;
            text-align: center;
            padding: 0 10px;
            color:#000;
            width: 120px;

        }
        &__input{
            width: 60%;
        }
        &__notice{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25px;
        }
        &__textarea{
            width: 80%;
            height: 80px;
            overflow-y: auto;
            box-sizing: border-box;
            padding: 10px;
        }
        &__bottom{
            margin-top: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            &--btn{
                margin-left: 3%;
                margin-right: 3%;
                height: 100%;
                width: 80px;

            }
        }
    }
}