.DateManage{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 3%;
    background-color: #fff;
    .ant-fullcalendar-fullscreen .ant-fullcalendar-date{
        height: 95px;
    }
}