.Table3{
    width: 100%;
    &-search{
        height: 70px;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        align-items: center;
        padding-left: 2%;
    }
}